*{
    box-sizing: border-box;

}

body{
 display: flex;
 flex-direction: column;

    background-color: rgb(140, 117, 209);

    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body h1{
    color: rgb(246, 255, 0);
  background-color: rgb(16, 14, 14);
  border-radius: 8px;
  padding: 0px 20px;
 
  
}

.pw-container{
    min-width: 350px;

    background-color:rgb(37, 1, 36);

  
    box-shadow: 30px 30px 50px 10px rgb(21, 21, 21);
    border-radius: 15px ;
}

.pw-header{
  padding: 1rem;
}


.pwd{
    background-color: rgb(38, 61, 195);
    height: 70px;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    position: relative;
    padding: 1rem;
    border-radius: 5px;
    overflow: auto;
   
}
.pwd button{
    background-color: rgb(214, 77, 14);
    color: white;
    border: none;
    font-family: inherit;
    padding: 0.15rem;
    position: absolute;
    top: -0.6rem;
right: 0;
margin-top: 10px;
transform: translate(0,20%);
opacity: 0;
cursor: pointer;
font-weight: bold;
}
.pw-header button:hover{
    opacity: 1;
 transform:  translate(0,0%);
 
  
}
.pw-body{
    padding: 0.5rem 1rem;
}

.form-control{
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generatebtn{
    display: block;
    background-color: rgb(219, 240, 34);
    color: rgb(235, 8, 8);
    font-weight: bold;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
  cursor: pointer;
}

.pw-container:hover{
    transition: all 0.6s linear 0s;
    transform: scale(1.1);
}